@charset "UTF-8";

/*Cores:
Vermelho: #E53935 terciária
Branco: #FFF secundária
Preto: #212121 quaternária
Verde: #4CAF50 primária
*/

/*PARTE 01*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

header.rolagem {
    background-color: rgba(56, 133, 59, 0.900);
    backdrop-filter: blur(8px);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

div#pic {
    display: flex;
    margin: auto;
    /* position: absolute;
    top: 40px;
    left: 50px;
    z-index: 10; */
}

div#pic > a {
    display: inline-block;
    height: 100%;
}

header img {
    width: 120px;
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

   /*  position: absolute;
    top: 50px;
    left: 50%;
    margin-bottom: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2; */
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0px 20px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgb(33, 33, 33, 0.7);
    transition: color 0.5s, background-color 0.5s;
}

nav ul li a:hover {
    color: #8be48e;
    font-weight: bold;
}

header.rolagem nav ul li a:hover {
    color: #E53935;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 4px;
    font-weight: bold;
    text-shadow: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

section#apa {
    width: 100%;
    height: 100vh;
    background-image: url('../imagens/apa-foto-mosaico.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #FFF;
    padding: 10px;
}

section#apa:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section#apa > h1 {
    font-family:'Oswald', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 60px;
    z-index: 2;
}

section#apa > h1 > .titulo {
    display: block;
    text-shadow: 2px 2px 4px rgb(33, 33, 33, 0.7);
    transition: color 0.3s ease;
}

section#apa h1 span#adventure:hover {
    color: #E53935;
}

section#apa div#tourism {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 50px;
    width: 70%;
    z-index: 2;
}

section#apa div#tourism h2 {
    margin: 0px 100px;
}

section#apa div#tourism p {
    text-align: justify;
    font-size: 1.1em;
}

section#apa strong {
    color: #FFF;
    text-shadow: 0px 0px 2px rgb(33, 33, 33);
}

.project {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}

.feature {
    padding: 20px;
    margin: 100px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

/*PARTE 02*/

section#links {
    position: relative;
    background-color: #4d784f;
    color: #FFF;
    padding: 30px 60px;
    height: 85vh;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.308);
}

section#links:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section#links div#acess {
    z-index: 2;
}

section#links p {
    width: 50%;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 20px;
}

section#links div.eventoImagem{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFF;
    width: 350px;
    height: 250px;
    border-radius: 4px;
    z-index: 2;
}

section#links div.eventoImagem img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

section#links div.eventoImagem img.ativo {
    opacity: 1;
}

section#links div#iesquerda {
    left: 0;
    margin-left: 30px;
}

section#links div#idireita {
    right: 0;
    margin-right: 30px;
}

section#links div.eventoBotao {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    z-index: 2;
}

section#links a {
    color: #FFF;
    text-decoration: none;
    width: 200px;
    background-color: #E53935;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

section#links a:hover {
    background-color: #FFF;
    transform: translateY(-2px);
    color: #E53935;
}

/*PARTE 03*/

section#us {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 60px;
    height: 1500px;
    text-align: justify;
    box-shadow: none;
}

section#us div.textimage {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    margin: 10px 0px;
    width: 50%;
    border-radius: 4px;
    color: black;
}

section#us div.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0px;
}

section#us h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section#us p {
    margin-bottom: 10px;
    padding: 5px 0px;
    line-height: 1.5;
}

section#us div.imagetext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 350px;
    box-shadow: 2px 2px 2px 2px rgba(33, 33, 33, 0.5);
    border-radius: 10px;
}

section#us div.imagetext img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.row:nth-child(odd) .textimage {
    order: 1;
}

.row:nth-child(odd) .imagetext {
    order: 2;
}

.row:nth-child(even) .textimage {
    order: 2;
}

.row:nth-child(even) .imagetext {
    order: 1;
}  

/* area de depoimentos */

.carrossel {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.depoimento {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.depoimento img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.depoimento .info {
    max-width: 600px;
}

.depoimento h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

.depoimento p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 50%;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*PARTE 04*/
footer {
    display: flex;
    background-color: #38853b;
    text-align: center;
    color: #FFF;
    padding: 10px 0px;
    height: 300px;
    box-shadow: 0px -1px 4px #00000094;
    align-items: center;
    justify-content: center;
}


footer h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}


footer p {
    font-size: 1.1em;
}

footer#contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0px 50px; */
}

footer form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

footer form input, form button {
    padding: 10px;
    margin: 5px 0px;
    border: none;
    border-radius: 5px;
}

/*PÁGINA PESCTECH*/

section#pescTech {
    width: 100%;
    height: 100vh;
    background-image: url('../imagens/foto-pescador.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #FFF;
    padding: 10px;
}

section#pescTech:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section#pescTech h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: #fffa5a;
    margin-bottom: 20px;
}

section#pescTech h1 span {
    transition: color 0.3s ease;
}

section#pescTech h1 span:hover{
    color: #5af0ff;
}

section#pescTech div#iniPesc {
    z-index: 2;
    text-align: center;
    margin: auto;
}

#pesque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #ffd45a99, #ffd45a33);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgSolte {
    flex: 1 1 45%;
    margin: 1rem;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgSolte img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#imgSolte:hover img {
    transform: scale(1.05);
}

#txtSolte {
    flex: 1 1 45%;
    margin: 1rem;
    text-align: left;
}

#txtSolte h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #005f73;
    border-bottom: 2px solid #005f73;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#txtSolte p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: justify;
}

#pescai {
    padding: 4rem 2rem;
    background: linear-gradient(180deg, #ffd45a33, #ffd35a77);
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#txtPescai, #imgPescai, #scanPescai, .infoScan {
    margin: 1rem;
    padding: 1rem;
}

#txtPescai h2, #scanPescai h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #028090;
    border-bottom: 2px solid #028090;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#txtPescai p, .infoScan p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: justify;
}

.infoScan {
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.infoScan h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #028090;
    border-bottom: 2px solid #028090;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.infoScan ul {
    list-style-type: disc;
    margin-left: 2rem;
    line-height: 1.8;
}

#piracema {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #ffd35aa6, #ffd35a69);
    color: #028090;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#txtPiracema {
    flex: 1 1 45%;
    margin: 1rem;
    text-align: left;
}

#txtPiracema h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #028090;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#txtPiracema p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: justify;
}

#imgPiracema {
    flex: 1 1 45%;
    margin: 1rem;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgPiracema img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#imgPiracema:hover img {
    transform: scale(1.05);
}

/*PÁGINA TRI ADVENTURE*/

section#triAdventure {
    width: 100%;
    height: 100vh;
    background-image: url('../imagens/foto-triatlo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #FFF;
    padding: 10px;
}

section#triAdventure:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section#triAdventure h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: #5af0ff;
    margin-bottom: 20px;
}


section#triAdventure h1 span {
    transition: color 0.3s ease;
}

section#triAdventure h1 span:hover{
    color: #028090;
}

section#triAdventure div#iniTri {
    z-index: 2;
    text-align: center;
    margin: auto;
}
#triathlon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #eef4f7, #d3e0ea);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgTriathlon {
    flex: 1 1 45%;
    margin: 1rem;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgTriathlon img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#imgTriathlon:hover img {
    transform: scale(1.05);
}

#txtTriathlon {
    flex: 1 1 45%;
    margin: 1rem;
    text-align: left;
}

#txtTriathlon h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #005f73;
    border-bottom: 2px solid #005f73;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#txtTriathlon p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: justify;
}

#beneficioTri {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #e0fbfc, #a8dadc);
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#beneficioTri h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #028090;
    border-bottom: 2px solid #028090;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.infoBeneficio {
    background: #f0f8fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.infoBeneficio h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #028090;
    border-bottom: 2px solid #028090;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.infoBeneficio p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
}

#comunidade {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #eef4f7, #d3e0ea);
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#txtComunidade h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #005f73;
    border-bottom: 2px solid #005f73;
    display: inline-block;
    padding-bottom: 0.5rem;
}

#txtComunidade p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: justify;
}

/*PÁGINA BÚFALO RODEIO*/

section#bufaloRodeio {
    width: 100%;
    height: 100vh;
    background-image: url('../imagens/foto-bufalo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #FFF;
    padding: 10px;
}

section#bufaloRodeio:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section#bufaloRodeio h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: #df6f0f;
    margin-bottom: 20px;
}


section#bufaloRodeio h1 span {
    transition: color 0.3s ease;
}

section#bufaloRodeio h1 span:hover{
    color: #2c190c;
}

section#bufaloRodeio div#iniBufalo {
    z-index: 2;
    text-align: center;
    margin: auto;
}

#bufaloMecanico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #df6f0fb0, #df6f0f47);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgBufalo {
    flex: 1 1 45%;
    margin: 1rem;
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#imgBufalo img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

#imgBufalo:hover img {
    transform: scale(1.05);
}

.txtBufalo {
    flex: 1 1 45%;
    margin: 1rem;
    text-align: left;
    color: #2c190c;
}

.txtBufalo h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c190c;
    border-bottom: 2px solid #FFF;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.txtBufalo p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    text-align: justify;
}

#culturaBufalo {
    padding: 4rem 2rem;
    background: linear-gradient(180deg, #df6f0f66, #df6f0f9c);
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#culturaBufalo h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c190c;
    border-bottom: 2px solid #FFF;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.infoCultura {
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
}

.infoCultura h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2c190c;
    border-bottom: 2px solid #FFF;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.infoCultura p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: justify;
    color: #2c190c;
}

.infoCultura ul {
    list-style: disc;
    padding-left: 1.5rem;
}