@charset "UTF-8";

/*Cores:
Vermelho: #E53935 terciária
Branco: #FFF secundária
Preto: #212121 quaternária
Verde: #4CAF50 primária
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    text-align: center;
}

header img {
    width: 120px;
    height: 38px;
    background-color: #FFF;
}

div#pic {
    position: absolute;
}

nav {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0px 5px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
    background-color: #4CAF50;
    transition: background-color 3s;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

section#apa {
    width: 100%;
    height:100vh;
    background-image: url('../imagens/apa-foto-mosaico.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 10px;
}

section#apa div#tourism {
    background-color: rgba(0, 0, 0, 0.5);
}